.bentoItem {
    position: relative;
}

.bentoItem img {
    border-radius: 20px;
}

.itemText {
    position: absolute;
    bottom: 21.14px;
    left: 21.14px;
    z-index: 2;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15),
                0 1px 7px 0 rgba(0, 0, 0, 0.15),
                0 2px 13px 0 rgba(0, 0, 0, 0.13),
                0 8px 18px 0 rgba(0, 0, 0, 0.08),
                0 25px 21px 0 rgba(0, 0, 0, 0.02),
                0 59px 23px 0 rgba(0, 0, 0, 0);
}