.cardItem {
    width: 288px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    scroll-snap-align: start;
}

.cardItem:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.cardItemBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 24px;
    padding: 0 8px 16px 8px;
}

.bottomLeft {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bottomLeft .name {
    font-size: 12px;
    line-height: 130%;
    font-weight: 600;
    color: #767676;
}

.bottomLeft .description {
    font-size: 12px;
    line-height: 114.9999999%;
    font-weight: 400;
    color: #767676;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    color: var(--green-color);
}

.cardItemImage {
    overflow: hidden;
    border-radius: 10px;
}

.cardItemImage img {
    scale: 1.4;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.cardItem:hover .cardItemImage img {
    transform: scale(1.1);
}
