.page {
  --background: #FFFFFF;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.homePage {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.brand {
  width: 1185px;
  margin: 0 auto;
  padding: 10px 24px;
}

.brand ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
